{% macro displayNews(category) %}
    {% for category in category %}
    <div>
        <img src={{category.urlToImage}} alt= {{category.title}} width="500">
        <h3>{{category.title}}</h3>
        <p><a href = {{category.url}}>{{category.url}}</a></p>
        <div>
            <p>{{category.content}}</p>
        </div>
    </div>    
    {% endfor %}
{% endmacro %}

{% macro searchNews(news) %}
    {% for news_item in news %}
        <div>
            <p>{{news_item.title}}</p>
            <p>{{news_item.content}}</p>
            
        </div>
    {% endfor %}
{% endmacro %}